<html>
    <head>
        <title>Thank you - Mario & Luigi Pizzeria</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
        <h1 class="toptext">Mario and Luigi Pizzeria</h1>
    </head>

    <body>
        <div id="thanks">
            <h2>Thank you for your order! </h2>
            <br><br>
            <h3>Your order has been recieved successfully.</h3>
            <br><br>
            <a class="order" href="/">Back to Home</a>
        </div>
    </body>
</html>